@page "/media/jellyfin"
@using ErsatzTV.Application.Jellyfin

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="pt-8">
    <MudTable Hover="true" Dense="true" Items="_mediaSources">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Jellyfin Media Source</MudText>
        </ToolBarContent>
        <ColGroup>
            <col/>
            <col/>
            <col style="width: 120px;"/>
        </ColGroup>
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Address</MudTh>
            <MudTh/>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Address">@context.Address</MudTd>
            <MudTd>
                <div style="align-items: center; display: flex;">
                    <MudTooltip Text="Edit Libraries">
                        <MudIconButton Icon="@Icons.Material.Filled.VideoLibrary"
                                       Link="@($"/media/sources/jellyfin/{context.Id}/libraries")">
                        </MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="Edit Path Replacements">
                        <MudIconButton Icon="@Icons.Material.Filled.Folder"
                                       Link="@($"/media/sources/jellyfin/{context.Id}/paths")">
                        </MudIconButton>
                    </MudTooltip>
                </div>
            </MudTd>
        </RowTemplate>
    </MudTable>
    @if (_mediaSources.Any())
    {
        <MudButton Variant="Variant.Filled"
                   Color="Color.Error"
                   OnClick="@(_ => DisconnectJellyfin())"
                   Class="mt-4">
            Disconnect Jellyfin
        </MudButton>
    }
    else
    {
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   Link="/media/jellyfin/edit"
                   Class="mt-4">
            Connect Jellyfin
        </MudButton>
    }

    @if (_mediaSources.Any() && !_isAuthorized)
    {
        <MudButton Variant="Variant.Filled"
                   Color="Color.Secondary"
                   OnClick="@(_ => AddJellyfinMediaSource())"
                   Class="ml-4 mt-4">
            Fix Jellyfin Credentials
        </MudButton>
    }

</MudContainer>

@code {
    private List<JellyfinMediaSourceViewModel> _mediaSources = new();

    private bool _isAuthorized;
    
    protected override async Task OnParametersSetAsync() => await LoadMediaSources();
    
    private async Task LoadMediaSources()
    {
        // _isAuthorized = await JellyfinSecretStore.GetApiKeys().Map(list => Prelude.Optional(list).Flatten().Any());
        // _mediaSources = await Mediator.Send(new GetAllJellyfinMediaSources());
    }

    private async Task DisconnectJellyfin()
    {
        // var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small };
        // IDialogReference dialog = Dialog.Show<SignOutOfPlexDialog>("Sign out of Plex", options);
        // DialogResult result = await dialog.Result;
        // if (!result.Cancelled)
        // {
        //     if (Locker.LockPlex())
        //     {
        //         await Mediator.Send(new SignOutOfPlex());
        //         await LoadMediaSources();
        //     }
        // }
    }
    
    private async Task AddJellyfinMediaSource()
    {
        // Either<BaseError, string> maybeUrl = await Mediator.Send(new StartPlexPinFlow());
        // await maybeUrl.Match(
        //     async url => await JsRuntime.InvokeAsync<object>("open", new object[] { url, "_blank" }),
        //     error =>
        //     {
        //         Locker.UnlockPlex();
        //         Snackbar.Add(error.Value, Severity.Error);
        //         Logger.LogError("Unexpected error generating plex auth app url: {Error}", error.Value);
        //         return Task.CompletedTask;
        //     });
    }

}