@page "/media/collections/{Id:int}"
@using ErsatzTV.Application.MediaCards
@using ErsatzTV.Application.MediaCards.Queries
@inject NavigationManager NavigationManager
@inject IMediator Mediator
@inject ILogger<MediaCollectionItems> Logger
@inject ISnackbar Snackbar

<div class="mb-6" style="display: flex; flex-direction: row;">
    <MudText GutterBottom="true" Typo="Typo.h2">@_data.Name</MudText>
    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                   Link="@($"/media/collections/{Id}/edit")"
                   Style="margin-bottom: auto; margin-top: auto;"/>
</div>

@if (_data.MovieCards.Any())
{
    <MudText GutterBottom="true" Typo="Typo.h4">Movies</MudText>

    <MudContainer MaxWidth="MaxWidth.False" Class="media-card-grid">
        @foreach (MovieCardViewModel card in _data.MovieCards)
        {
            <MediaCard Data="@card" Link="@($"/media/movies/{card.MovieId}")"/>
        }
    </MudContainer>
}

@if (_data.ShowCards.Any())
{
    <MudText GutterBottom="true" Typo="Typo.h4">Television Shows</MudText>

    <MudContainer MaxWidth="MaxWidth.False" Class="media-card-grid">
        @foreach (TelevisionShowCardViewModel card in _data.ShowCards)
        {
            <MediaCard Data="@card" Link="@($"/media/tv/shows/{card.TelevisionShowId}")"/>
        }
    </MudContainer>
}

@if (_data.SeasonCards.Any())
{
    <MudText GutterBottom="true" Typo="Typo.h4">Television Seasons</MudText>

    <MudContainer MaxWidth="MaxWidth.False" Class="media-card-grid">
        @foreach (TelevisionSeasonCardViewModel card in _data.SeasonCards)
        {
            <MediaCard Data="@card"
                       Link="@($"/media/tv/seasons/{card.TelevisionSeasonId}")"
                       Title="@card.ShowTitle"
                       Subtitle="@card.Title"/>
        }
    </MudContainer>
}

@if (_data.EpisodeCards.Any())
{
    <MudText GutterBottom="true" Typo="Typo.h4">Television Episodes</MudText>

    <MudContainer MaxWidth="MaxWidth.False" Class="media-card-grid">
        @foreach (TelevisionEpisodeCardViewModel card in _data.EpisodeCards)
        {
            <MediaCard Data="@card"
                       Link="@($"/media/tv/episodes/{card.EpisodeId}")"
                       Title="@card.ShowTitle"
                       Subtitle="@card.Title"
                       ContainerClass="media-card-episode-container mx-2"
                       CardClass="media-card-episode"/>
        }
    </MudContainer>
}

@code {

    [Parameter]
    public int Id { get; set; }

    private SimpleMediaCollectionCardResultsViewModel _data;

    protected override async Task OnParametersSetAsync() => await RefreshData();

    private async Task RefreshData()
    {
        Either<BaseError, SimpleMediaCollectionCardResultsViewModel> maybeResult =
            await Mediator.Send(new GetSimpleMediaCollectionCards(Id));

        maybeResult.Match(
            result => _data = result,
            error => NavigationManager.NavigateTo("404"));
    }

}