@page "/media/movies/{MovieId:int}"
@using ErsatzTV.Application.Movies
@using ErsatzTV.Application.Movies.Queries
@using ErsatzTV.Application.MediaCollections
@using ErsatzTV.Application.MediaCollections.Commands
@inject IMediator Mediator
@inject IDialogService Dialog
@inject NavigationManager NavigationManager

<MudContainer MaxWidth="MaxWidth.Large">
    <MudBreadcrumbs Items="_breadcrumbs" Class="mb-6"></MudBreadcrumbs>
    <MudCard Class="mb-6">
        <div style="display: flex; flex-direction: row;">
            @if (!string.IsNullOrWhiteSpace(_movie.Poster))
            {
                <MudPaper Style="flex-shrink: 0;">
                    <MudCardMedia Image="@($"/posters/{_movie.Poster}")" Style="height: 440px; width: 304px;"/>
                </MudPaper>
            }
            <MudCardContent Class="mx-3 my-3">
                <div style="display: flex; flex-direction: column; height: 100%">
                    <MudText Typo="Typo.h3">@_movie.Title</MudText>
                    <MudText Typo="Typo.subtitle1" Class="mb-6 mud-text-secondary">@_movie.Year</MudText>
                    <MudText Style="flex-grow: 1">@_movie.Plot</MudText>
                    <div>
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Add"
                                   OnClick="@AddToCollection">
                            Add To Collection
                        </MudButton>
                    </div>
                </div>
            </MudCardContent>
        </div>
    </MudCard>
</MudContainer>

@code {

    [Parameter]
    public int MovieId { get; set; }

    private MovieViewModel _movie;

    private List<BreadcrumbItem> _breadcrumbs;

    protected override Task OnParametersSetAsync() => RefreshData();

    private async Task RefreshData()
    {
        await Mediator.Send(new GetMovieById(MovieId))
            .IfSomeAsync(vm => _movie = vm);

        _breadcrumbs = new List<BreadcrumbItem>
        {
            new("Movies", "/media/movies"),
            new($"{_movie.Title} ({_movie.Year})", null, true)
        };
    }

    private async Task AddToCollection()
    {
        var parameters = new DialogParameters { { "EntityType", "movie" }, { "EntityName", _movie.Title } };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        IDialogReference dialog = Dialog.Show<AddToCollectionDialog>("Add To Collection", parameters, options);
        DialogResult result = await dialog.Result;
        if (!result.Cancelled && result.Data is MediaCollectionViewModel collection)
        {
            await Mediator.Send(new AddMovieToCollection(collection.Id, MovieId));
            NavigationManager.NavigateTo($"/media/collections/{collection.Id}");
        }
    }

}