@page "/media/movies/{MovieId:int}"
@using ErsatzTV.Application.Movies
@using ErsatzTV.Application.Movies.Queries
@using ErsatzTV.Application.MediaCollections
@using ErsatzTV.Application.MediaCollections.Commands
@inject IMediator Mediator
@inject IDialogService Dialog
@inject NavigationManager NavigationManager

<MudContainer MaxWidth="MaxWidth.False" Style="padding: 0" Class="fanart-container">
    <div class="fanart-tint"></div>
    @if (!string.IsNullOrWhiteSpace(_movie.FanArt))
    {
        <img src="@($"/artwork/fanart/{_movie.FanArt}")" alt="fan art"/>
    }
</MudContainer>
<MudContainer MaxWidth="MaxWidth.Large" Style="margin-top: 200px">
    <div style="display: flex; flex-direction: row;" class="mb-6">
        @if (!string.IsNullOrWhiteSpace(_movie.Poster))
        {
            <img class="mud-elevation-2 mr-6"
                 style="border-radius: 4px; flex-shrink: 0; max-height: 440px;"
                 src="@($"/artwork/posters/{_movie.Poster}")" alt="movie poster"/>
        }
        <div style="display: flex; flex-direction: column; height: 100%">
            <MudText Typo="Typo.h2" Class="media-item-title">@_movie.Title</MudText>
            <MudText Typo="Typo.subtitle1" Class="media-item-subtitle mb-6 mud-text-secondary">@_movie.Year</MudText>
            @if (!string.IsNullOrWhiteSpace(_movie.Plot))
            {
                <MudCard Elevation="2" Class="mb-6">
                    <MudCardContent Class="mx-3 my-3" Style="height: 100%">
                        <MudText Style="flex-grow: 1">@_movie.Plot</MudText>
                    </MudCardContent>
                </MudCard>
            }
            <div>
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.Add"
                           OnClick="@AddToCollection">
                    Add To Collection
                </MudButton>
            </div>
        </div>
    </div>
    @if (_movie.Studios.Any())
    {
        <MudText GutterBottom="true">Studios</MudText>
        <div class="mb-2">
            @foreach (string studio in _movie.Studios.OrderBy(s => s))
            {
                <MudFab Color="Color.Info" Size="Size.Small" Label="@studio" Class="mr-2 mb-2" Link="@($"/search?query=studio%3a%22{Uri.EscapeDataString(studio.ToLowerInvariant())}%22")"/>
            }
        </div>
    }
    @if (_movie.Genres.Any())
    {
        <MudText GutterBottom="true">Genres</MudText>
        <div class="mb-2">
            @foreach (string genre in _movie.Genres.OrderBy(g => g))
            {
                <MudFab Color="Color.Info" Size="Size.Small" Label="@genre" Class="mr-2 mb-2" Link="@($"/search?query=genre%3a%22{Uri.EscapeDataString(genre.ToLowerInvariant())}%22")"/>
            }
        </div>
    }
    @if (_movie.Tags.Any())
    {
        <MudText GutterBottom="true">Tags</MudText>
        <div>
            @foreach (string tag in _movie.Tags.OrderBy(t => t))
            {
                <MudFab Color="Color.Info" Size="Size.Small" Label="@tag" Class="mr-2 mb-2" Link="@($"/search?query=tag%3a%22{Uri.EscapeDataString(tag.ToLowerInvariant())}%22")"/>
            }
        </div>
    }
</MudContainer>

@code {

    [Parameter]
    public int MovieId { get; set; }

    private MovieViewModel _movie;

    protected override Task OnParametersSetAsync() => RefreshData();

    private Task RefreshData() =>
        Mediator.Send(new GetMovieById(MovieId)).IfSomeAsync(vm => _movie = vm);

    private async Task AddToCollection()
    {
        var parameters = new DialogParameters { { "EntityType", "movie" }, { "EntityName", _movie.Title } };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        IDialogReference dialog = Dialog.Show<AddToCollectionDialog>("Add To Collection", parameters, options);
        DialogResult result = await dialog.Result;
        if (!result.Cancelled && result.Data is MediaCollectionViewModel collection)
        {
            await Mediator.Send(new AddMovieToCollection(collection.Id, MovieId));
            NavigationManager.NavigateTo($"/media/collections/{collection.Id}");
        }
    }

}