@page "/media/playlists/{Id:int}"
@using ErsatzTV.Application.Scheduling
@using ErsatzTV.Application.Search
@using ErsatzTV.Application.MediaCollections
@using ErsatzTV.Application.MediaItems
@implements IDisposable
@inject NavigationManager NavigationManager
@inject ILogger<PlaylistEditor> Logger
@inject ISnackbar Snackbar
@inject IMediator Mediator

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="pt-8">
<MudText Typo="Typo.h4" Class="mb-4">Edit Playlist</MudText>
<div style="max-width: 400px">
    <MudCard>
        <MudCardContent>
            <MudTextField Label="Name" @bind-Value="_playlist.Name" For="@(() => _playlist.Name)"/>
        </MudCardContent>
    </MudCard>
</div>
<MudButton Variant="Variant.Filled" Color="Color.Default" OnClick="@(_ => AddPlaylistItem())" Class="mt-4">
    Add Playlist Item
</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(_ => SaveChanges())" Class="mt-4 ml-4">
    Save Changes
</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(_ => PreviewPlayout())" Class="mt-4 ml-4">
    Preview Playlist Playout
</MudButton>
<MudGrid>
    <MudItem xs="12">
        <MudTable Class="mt-6" Hover="true" Items="_playlist.Items.OrderBy(i => i.Index)" Dense="true" @bind-SelectedItem="_selectedItem">
            <ColGroup>
                <col/>
                <col/>
                <col/>
                <col/>
                <col style="width: 60px;"/>
                <col style="width: 60px;"/>
                <col style="width: 60px;"/>
                <col style="width: 60px;"/>
            </ColGroup>
            <HeaderContent>
                <MudTh>Item Type</MudTh>
                <MudTh>Item</MudTh>
                <MudTh>Playback Order</MudTh>
                <MudTh>Show In EPG</MudTh>
                <MudTh/>
                <MudTh/>
                <MudTh/>
                <MudTh/>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Item Type">
                    <MudText Typo="@(context == _selectedItem ? Typo.subtitle2 : Typo.body2)">
                        @context.ItemType
                    </MudText>
                </MudTd>
                <MudTd DataLabel="Item">
                    <MudText Typo="@(context == _selectedItem ? Typo.subtitle2 : Typo.body2)">
                        @context.ItemName
                    </MudText>
                </MudTd>
                <MudTd DataLabel="Playback Order">
                    <MudText Typo="@(context == _selectedItem ? Typo.subtitle2 : Typo.body2)">
                        @(context.PlaybackOrder > 0 ? context.PlaybackOrder : "")
                    </MudText>
                </MudTd>
                <MudTd>
                    <MudCheckBox T="bool" Value="@context.IncludeInProgramGuide" ValueChanged="@(e => UpdateEPG(context, e))"/>
                </MudTd>
                <MudTd>
                    <MudIconButton Icon="@Icons.Material.Filled.ContentCopy"
                                   OnClick="@(_ => CopyItem(context))">
                    </MudIconButton>
                </MudTd>
                <MudTd>
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowUpward"
                                   OnClick="@(_ => MoveItemUp(context))"
                                   Disabled="@(_playlist.Items.All(x => x.Index >= context.Index))">
                    </MudIconButton>
                </MudTd>
                <MudTd>
                    <MudIconButton Icon="@Icons.Material.Filled.ArrowDownward"
                                   OnClick="@(_ => MoveItemDown(context))"
                                   Disabled="@(_playlist.Items.All(x => x.Index <= context.Index))">
                    </MudIconButton>
                </MudTd>
                <MudTd>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                   OnClick="@(_ => RemovePlaylistItem(context))">
                    </MudIconButton>
                </MudTd>
            </RowTemplate>
        </MudTable>
    </MudItem>
</MudGrid>
<div class="mt-4">
    @if (_selectedItem is not null)
    {
        <EditForm Model="_selectedItem">
            <FluentValidationValidator/>
            <div style="max-width: 400px;" class="mr-6">
                <MudCard>
                    <MudCardContent>
                        <MudSelect Class="mt-3" Label="Collection Type" @bind-Value="_selectedItem.CollectionType" For="@(() => _selectedItem.CollectionType)">
                            <MudSelectItem Value="ProgramScheduleItemCollectionType.Collection">Collection</MudSelectItem>
                            <MudSelectItem Value="ProgramScheduleItemCollectionType.TelevisionShow">Television Show</MudSelectItem>
                            <MudSelectItem Value="ProgramScheduleItemCollectionType.TelevisionSeason">Television Season</MudSelectItem>
                            <MudSelectItem Value="ProgramScheduleItemCollectionType.Artist">Artist</MudSelectItem>
                            <MudSelectItem Value="ProgramScheduleItemCollectionType.MultiCollection">Multi Collection</MudSelectItem>
                            <MudSelectItem Value="ProgramScheduleItemCollectionType.SmartCollection">Smart Collection</MudSelectItem>
                            <MudSelectItem Value="ProgramScheduleItemCollectionType.Movie">Movie</MudSelectItem>
                            <MudSelectItem Value="ProgramScheduleItemCollectionType.Episode">Episode</MudSelectItem>
                            <MudSelectItem Value="ProgramScheduleItemCollectionType.MusicVideo">Music Video</MudSelectItem>
                            <MudSelectItem Value="ProgramScheduleItemCollectionType.OtherVideo">Other Video</MudSelectItem>
                            <MudSelectItem Value="ProgramScheduleItemCollectionType.Song">Song</MudSelectItem>
                            <MudSelectItem Value="ProgramScheduleItemCollectionType.Image">Image</MudSelectItem>
                        </MudSelect>
                        @if (_selectedItem.CollectionType == ProgramScheduleItemCollectionType.Collection)
                        {
                            <MudAutocomplete Class="mt-3" T="MediaCollectionViewModel" Label="Collection"
                                             @bind-Value="_selectedItem.Collection" SearchFunc="@SearchCollections"
                                             ToStringFunc="@(c => c?.Name)" Placeholder="Type to search...">
                                <MoreItemsTemplate>
                                    <MudText Align="Align.Center" Class="px-4 py-1">
                                        Only the first 10 items are shown
                                    </MudText>
                                </MoreItemsTemplate>
                            </MudAutocomplete>
                        }

                        @if (_selectedItem.CollectionType == ProgramScheduleItemCollectionType.MultiCollection)
                        {
                            <MudAutocomplete Class="mt-3" T="MultiCollectionViewModel" Label="Multi Collection"
                                             @bind-Value="_selectedItem.MultiCollection" SearchFunc="@SearchMultiCollections"
                                             ToStringFunc="@(c => c?.Name)" Placeholder="Type to search...">
                                <MoreItemsTemplate>
                                    <MudText Align="Align.Center" Class="px-4 py-1">
                                        Only the first 10 items are shown
                                    </MudText>
                                </MoreItemsTemplate>
                            </MudAutocomplete>
                        }

                        @if (_selectedItem.CollectionType == ProgramScheduleItemCollectionType.SmartCollection)
                        {
                            <MudAutocomplete Class="mt-3" T="SmartCollectionViewModel" Label="Smart Collection"
                                             @bind-Value="_selectedItem.SmartCollection" SearchFunc="@SearchSmartCollections"
                                             ToStringFunc="@(c => c?.Name)" Placeholder="Type to search...">
                                <MoreItemsTemplate>
                                    <MudText Align="Align.Center" Class="px-4 py-1">
                                        Only the first 10 items are shown
                                    </MudText>
                                </MoreItemsTemplate>
                            </MudAutocomplete>
                        }

                        @if (_selectedItem.CollectionType == ProgramScheduleItemCollectionType.TelevisionShow)
                        {
                            <MudAutocomplete Class="mt-3" T="NamedMediaItemViewModel" Label="Television Show"
                                             @bind-Value="_selectedItem.MediaItem" SearchFunc="@SearchTelevisionShows"
                                             ToStringFunc="@(c => c?.Name)" Placeholder="Type to search...">
                                <MoreItemsTemplate>
                                    <MudText Align="Align.Center" Class="px-4 py-1">
                                        Only the first 10 items are shown
                                    </MudText>
                                </MoreItemsTemplate>
                            </MudAutocomplete>
                        }

                        @if (_selectedItem.CollectionType == ProgramScheduleItemCollectionType.TelevisionSeason)
                        {
                            <MudAutocomplete Class="mt-3" T="NamedMediaItemViewModel" Label="Television Season"
                                             @bind-Value="_selectedItem.MediaItem" SearchFunc="@SearchTelevisionSeasons"
                                             ToStringFunc="@(c => c?.Name)" Placeholder="Type to search..."
                                             MaxItems="20">
                                <MoreItemsTemplate>
                                    <MudText Align="Align.Center" Class="px-4 py-1">
                                        Only the first 20 items are shown
                                    </MudText>
                                </MoreItemsTemplate>
                            </MudAutocomplete>
                        }

                        @if (_selectedItem.CollectionType == ProgramScheduleItemCollectionType.Artist)
                        {
                            <MudAutocomplete Class="mt-3" T="NamedMediaItemViewModel" Label="Artist"
                                             @bind-Value="_selectedItem.MediaItem" SearchFunc="@SearchArtists"
                                             ToStringFunc="@(c => c?.Name)" Placeholder="Type to search..."
                                             MaxItems="10">
                                <MoreItemsTemplate>
                                    <MudText Align="Align.Center" Class="px-4 py-1">
                                        Only the first 10 items are shown
                                    </MudText>
                                </MoreItemsTemplate>
                            </MudAutocomplete>
                        }

                        @if (_selectedItem.CollectionType == ProgramScheduleItemCollectionType.Movie)
                        {
                            <MudAutocomplete Class="mt-3" T="NamedMediaItemViewModel" Label="Movie"
                                             @bind-Value="_selectedItem.MediaItem" SearchFunc="@SearchMovies"
                                             ToStringFunc="@(c => c?.Name)" Placeholder="Type to search..."
                                             MaxItems="10">
                                <MoreItemsTemplate>
                                    <MudText Align="Align.Center" Class="px-4 py-1">
                                        Only the first 10 items are shown
                                    </MudText>
                                </MoreItemsTemplate>
                            </MudAutocomplete>
                        }

                        <MudSelect Class="mt-3"
                                   Label="Playback Order"
                                   @bind-Value="@_selectedItem.PlaybackOrder"
                                   For="@(() => _selectedItem.PlaybackOrder)"
                                   Disabled="@(_selectedItem.CollectionType is ProgramScheduleItemCollectionType.Movie or ProgramScheduleItemCollectionType.Episode or ProgramScheduleItemCollectionType.MusicVideo or ProgramScheduleItemCollectionType.OtherVideo or ProgramScheduleItemCollectionType.Song or ProgramScheduleItemCollectionType.Image)">
                            @switch (_selectedItem.CollectionType)
                            {
                                case ProgramScheduleItemCollectionType.MultiCollection:
                                    <MudSelectItem Value="PlaybackOrder.Shuffle">Shuffle</MudSelectItem>
                                    @* <MudSelectItem Value="PlaybackOrder.ShuffleInOrder">Shuffle In Order</MudSelectItem> *@
                                    break;
                                case ProgramScheduleItemCollectionType.Collection:
                                case ProgramScheduleItemCollectionType.SmartCollection:
                                    <MudSelectItem Value="PlaybackOrder.Chronological">Chronological</MudSelectItem>
                                    <MudSelectItem Value="PlaybackOrder.Shuffle">Shuffle</MudSelectItem>
                                    <MudSelectItem Value="PlaybackOrder.Random">Random</MudSelectItem>
                                    @* <MudSelectItem Value="PlaybackOrder.ShuffleInOrder">Shuffle In Order</MudSelectItem> *@
                                    break;
                                case ProgramScheduleItemCollectionType.TelevisionShow:
                                    <MudSelectItem Value="PlaybackOrder.SeasonEpisode">Season, Episode</MudSelectItem>
                                    <MudSelectItem Value="PlaybackOrder.Chronological">Chronological</MudSelectItem>
                                    <MudSelectItem Value="PlaybackOrder.Shuffle">Shuffle</MudSelectItem>
                                    <MudSelectItem Value="PlaybackOrder.Random">Random</MudSelectItem>
                                    @* <MudSelectItem Value="PlaybackOrder.MultiEpisodeShuffle">Multi-Episode Shuffle</MudSelectItem> *@
                                    break;
                                case ProgramScheduleItemCollectionType.TelevisionSeason:
                                case ProgramScheduleItemCollectionType.Artist:
                                case ProgramScheduleItemCollectionType.FakeCollection:
                                default:
                                    <MudSelectItem Value="PlaybackOrder.Chronological">Chronological</MudSelectItem>
                                    <MudSelectItem Value="PlaybackOrder.Shuffle">Shuffle</MudSelectItem>
                                    <MudSelectItem Value="PlaybackOrder.Random">Random</MudSelectItem>
                                    break;
                            }
                        </MudSelect>
                    </MudCardContent>
                </MudCard>
            </div>
        </EditForm>
    }
</div>
@if (_previewItems != null)
{
    <MudTable Class="mt-8"
              Hover="true"
              Dense="true"
              Items="_previewItems">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Playlist Playout Preview</MudText>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Start</MudTh>
            <MudTh>Finish</MudTh>
            <MudTh>Media Item</MudTh>
            <MudTh>Duration</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Start">@context.Start.ToString(@"hh\:mm\:ss")</MudTd>
            <MudTd DataLabel="Finish">@context.Finish.ToString(@"hh\:mm\:ss")</MudTd>
            <MudTd DataLabel="Media Item">@context.Title</MudTd>
            <MudTd DataLabel="Duration">@context.Duration</MudTd>
        </RowTemplate>
    </MudTable>
}
</MudContainer>

@code {
    private readonly CancellationTokenSource _cts = new();

    [Parameter]
    public int Id { get; set; }

    private PlaylistItemsEditViewModel _playlist = new() { Items = [] };
    private PlaylistItemEditViewModel _selectedItem;
    private List<PlayoutItemPreviewViewModel> _previewItems;

    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
    }

    protected override async Task OnParametersSetAsync() => await LoadPlaylistItems();

    private async Task LoadPlaylistItems()
    {
        Option<PlaylistViewModel> maybePlaylist = await Mediator.Send(new GetPlaylistById(Id), _cts.Token);
        if (maybePlaylist.IsNone)
        {
            NavigationManager.NavigateTo("/media/playlists");
            return;
        }

        foreach (PlaylistViewModel playlist in maybePlaylist)
        {
            _playlist = new PlaylistItemsEditViewModel
            {
                Name = playlist.Name,
                Items = []
            };
        }

        Option<IEnumerable<PlaylistItemViewModel>> maybeResults = await Mediator.Send(new GetPlaylistItems(Id), _cts.Token);
        foreach (IEnumerable<PlaylistItemViewModel> items in maybeResults)
        {
            _playlist.Items.AddRange(items.Map(ProjectToEditViewModel));
            if (_playlist.Items.Count == 1)
            {
                _selectedItem = _playlist.Items.Head();
            }
        }
    }

    private async Task<IEnumerable<MediaCollectionViewModel>> SearchCollections(string value)
    {
        if (string.IsNullOrWhiteSpace(value))
        {
            return new List<MediaCollectionViewModel>();
        }

        return await Mediator.Send(new SearchCollections(value), _cts.Token);
    }

    private async Task<IEnumerable<MultiCollectionViewModel>> SearchMultiCollections(string value)
    {
        if (string.IsNullOrWhiteSpace(value))
        {
            return new List<MultiCollectionViewModel>();
        }

        return await Mediator.Send(new SearchMultiCollections(value), _cts.Token);
    }

    private async Task<IEnumerable<SmartCollectionViewModel>> SearchSmartCollections(string value)
    {
        if (string.IsNullOrWhiteSpace(value))
        {
            return new List<SmartCollectionViewModel>();
        }

        return await Mediator.Send(new SearchSmartCollections(value), _cts.Token);
    }

    private async Task<IEnumerable<NamedMediaItemViewModel>> SearchTelevisionShows(string value)
    {
        if (string.IsNullOrWhiteSpace(value))
        {
            return new List<NamedMediaItemViewModel>();
        }

        return await Mediator.Send(new SearchTelevisionShows(value), _cts.Token);
    }

    private async Task<IEnumerable<NamedMediaItemViewModel>> SearchTelevisionSeasons(string value)
    {
        if (string.IsNullOrWhiteSpace(value))
        {
            return new List<NamedMediaItemViewModel>();
        }

        return await Mediator.Send(new SearchTelevisionSeasons(value), _cts.Token);
    }

    private async Task<IEnumerable<NamedMediaItemViewModel>> SearchArtists(string value)
    {
        if (string.IsNullOrWhiteSpace(value))
        {
            return new List<NamedMediaItemViewModel>();
        }

        return await Mediator.Send(new SearchArtists(value), _cts.Token);
    }

    private async Task<IEnumerable<NamedMediaItemViewModel>> SearchMovies(string value)
    {
        if (string.IsNullOrWhiteSpace(value))
        {
            return new List<NamedMediaItemViewModel>();
        }

        return await Mediator.Send(new SearchMovies(value), _cts.Token);
    }

    private static PlaylistItemEditViewModel ProjectToEditViewModel(PlaylistItemViewModel item) =>
        new()
        {
            Id = item.Id,
            Index = item.Index,
            CollectionType = item.CollectionType,
            Collection = item.Collection,
            MultiCollection = item.MultiCollection,
            SmartCollection = item.SmartCollection,
            MediaItem = item.MediaItem,
            PlaybackOrder = item.PlaybackOrder,
            IncludeInProgramGuide = item.IncludeInProgramGuide
        };

    private void AddPlaylistItem()
    {
        var item = new PlaylistItemEditViewModel
        {
            Index = _playlist.Items.Map(i => i.Index).DefaultIfEmpty().Max() + 1,
            PlaybackOrder = PlaybackOrder.Chronological,
            CollectionType = ProgramScheduleItemCollectionType.Collection
        };

        _playlist.Items.Add(item);
        _selectedItem = item;
    }

    private void CopyItem(PlaylistItemEditViewModel item)
    {
        var newItem = new PlaylistItemEditViewModel
        {
            Index = item.Index + 1,
            PlaybackOrder = item.PlaybackOrder,
            CollectionType = item.CollectionType,
            Collection = item.Collection,
            MultiCollection = item.MultiCollection,
            SmartCollection = item.SmartCollection,
            MediaItem = item.MediaItem,
            IncludeInProgramGuide = item.IncludeInProgramGuide
        };

        foreach (PlaylistItemEditViewModel i in _playlist.Items.Filter(bi => bi.Index >= newItem.Index))
        {
            i.Index += 1;
        }

        _playlist.Items.Add(newItem);
        _selectedItem = newItem;
    }

    private void RemovePlaylistItem(PlaylistItemEditViewModel item)
    {
        _selectedItem = null;
        _playlist.Items.Remove(item);
    }

    private void MoveItemUp(PlaylistItemEditViewModel item)
    {
        // swap with lower index
        PlaylistItemEditViewModel toSwap = _playlist.Items.OrderByDescending(x => x.Index).First(x => x.Index < item.Index);
        (toSwap.Index, item.Index) = (item.Index, toSwap.Index);
    }

    private void MoveItemDown(PlaylistItemEditViewModel item)
    {
        // swap with higher index
        PlaylistItemEditViewModel toSwap = _playlist.Items.OrderBy(x => x.Index).First(x => x.Index > item.Index);
        (toSwap.Index, item.Index) = (item.Index, toSwap.Index);
    }

    private async Task SaveChanges()
    {
        Seq<BaseError> errorMessages = await Mediator
            .Send(GenerateReplaceRequest(), _cts.Token)
            .Map(e => e.LeftToSeq());

        errorMessages.HeadOrNone().Match(
            error =>
            {
                Snackbar.Add($"Unexpected error saving playlist: {error.Value}", Severity.Error);
                Logger.LogError("Unexpected error saving playlist: {Error}", error.Value);
            },
            () => NavigationManager.NavigateTo("/media/playlists"));
    }

    private ReplacePlaylistItems GenerateReplaceRequest()
    {
        var items = _playlist.Items.Map(
            item => new ReplacePlaylistItem(
                item.Index,
                item.CollectionType,
                item.Collection?.Id,
                item.MultiCollection?.Id,
                item.SmartCollection?.Id,
                item.MediaItem?.MediaItemId,
                item.PlaybackOrder,
                item.IncludeInProgramGuide)).ToList();

        return new ReplacePlaylistItems(Id, _playlist.Name, items);
    }

    private async Task PreviewPlayout()
    {
        _selectedItem = null;
        _previewItems = await Mediator.Send(new PreviewPlaylistPlayout(GenerateReplaceRequest()), _cts.Token);
    }

    private static void UpdateEPG(PlaylistItemEditViewModel context, bool includeInProgramGuide) => context.IncludeInProgramGuide = includeInProgramGuide;

}