@page "/playouts"
@using ErsatzTV.Application.Playouts
@using ErsatzTV.Application.Playouts.Commands
@using ErsatzTV.Application.Playouts.Queries
@inject IDialogService _dialog
@inject IMediator _mediator

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="pt-8">
    <MudTable Hover="true" Dense="true" Items="_playouts" SelectedItemChanged="@(async (PlayoutViewModel x) => await PlayoutSelected(x))">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Playouts</MudText>
        </ToolBarContent>
        <ColGroup>
            <col/>
            <col/>
            <col style="width: 120px;"/>
        </ColGroup>
        <HeaderContent>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<PlayoutViewModel, object>(x => decimal.Parse(x.Channel.Number))">
                    Channel
                </MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<PlayoutViewModel, object>(x => x.ProgramSchedule.Name)">
                    Schedule
                </MudTableSortLabel>
            </MudTh>
            @* <MudTh>Playout Type</MudTh> *@
            <MudTh/>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Channel">@context.Channel.Number - @context.Channel.Name</MudTd>
            <MudTd DataLabel="Schedule">@context.ProgramSchedule.Name</MudTd>
            @* <MudTd DataLabel="Playout Type">@context.ProgramSchedulePlayoutType</MudTd> *@
            <MudTd>
                <div style="align-items: center; display: flex;">
                    <MudTooltip Text="Rebuild Playout">
                        <MudIconButton Icon="@Icons.Material.Filled.Refresh"
                                       OnClick="@(_ => RebuildPlayout(context))">
                        </MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="Delete Playout">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                       OnClick="@(_ => DeletePlayout(context))">
                        </MudIconButton>
                    </MudTooltip>
                </div>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager/>
        </PagerContent>
    </MudTable>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="/playouts/add" Class="mt-4">
        Add Playout
    </MudButton>

    @if (_selectedPlayoutItems != null)
    {
        <MudTable Hover="true" Dense="true" Items="_selectedPlayoutItems.OrderBy(i => i.Start)" Class="mt-8">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Playout Detail</MudText>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Start</MudTh>
                <MudTh>Media Item</MudTh>
                <MudTh>Duration</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Start">@context.Start.ToString("G")</MudTd>
                <MudTd DataLabel="Media Item">@context.Title</MudTd>
                <MudTd DataLabel="Duration">@context.Duration</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager/>
            </PagerContent>
        </MudTable>
    }
</MudContainer>

@code {
    private List<PlayoutViewModel> _playouts;
    private List<PlayoutItemViewModel> _selectedPlayoutItems;
    private int? _selectedPlayoutId;

    protected override Task OnParametersSetAsync() =>
        LoadAllPlayouts();

    private async Task PlayoutSelected(PlayoutViewModel playout)
    {
        _selectedPlayoutId = playout.Id;
        _selectedPlayoutItems = await _mediator.Send(new GetPlayoutItemsById(playout.Id));
    }

    private async Task DeletePlayout(PlayoutViewModel playout)
    {
        var parameters = new DialogParameters { { "EntityType", "playout" }, { "EntityName", $"{playout.ProgramSchedule.Name} on {playout.Channel.Number} - {playout.Channel.Name}" } };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        IDialogReference dialog = _dialog.Show<DeleteDialog>("Delete Playout", parameters, options);
        DialogResult result = await dialog.Result;
        if (!result.Cancelled)
        {
            await _mediator.Send(new DeletePlayout(playout.Id));
            await LoadAllPlayouts();
        }
    }

    private async Task RebuildPlayout(PlayoutViewModel playout)
    {
        await _mediator.Send(new BuildPlayout(playout.Id, true));
        await LoadAllPlayouts();
        if (_selectedPlayoutId == playout.Id)
        {
            await PlayoutSelected(playout);
        }
    }

    private async Task LoadAllPlayouts() =>
        _playouts = await _mediator.Send(new GetAllPlayouts())
            .Map(list => list.OrderBy(x => decimal.Parse(x.Channel.Number)).ToList());


}