@page "/media/sources/plex"
@using ErsatzTV.Core.Interfaces.Plex
@using ErsatzTV.Application.Plex
@using ErsatzTV.Application.Plex.Commands
@using ErsatzTV.Application.Plex.Queries
@using System.Threading
@implements IDisposable
@inject IDialogService _dialog
@inject IMediator _mediator
@inject IEntityLocker _locker
@inject ISnackbar _snackbar
@inject ILogger<PlexMediaSources> _logger
@inject IJSRuntime _jsRuntime
@inject IPlexSecretStore _plexSecretStore
@inject ChannelWriter<IPlexBackgroundServiceRequest> _channel

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="pt-8">
    <MudTable Hover="true" Dense="true" Items="_mediaSources">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Plex Media Sources</MudText>
        </ToolBarContent>
        <ColGroup>
            <col/>
            <col/>
            <col style="width: 120px;"/>
        </ColGroup>
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Address</MudTh>
            <MudTh/>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Address">@context.Address</MudTd>
            <MudTd>
                <div style="align-items: center; display: flex;">
                    <MudTooltip Text="Refresh Libraries">
                        <MudIconButton Icon="@Icons.Material.Filled.Refresh"
                                       Disabled="@(_locker.IsPlexLocked())"
                                       OnClick="@(_ => RefreshLibraries(context.Id))">
                        </MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="Edit Libraries">
                        <MudIconButton Icon="@Icons.Material.Filled.VideoLibrary"
                                       Link="@($"/media/sources/plex/{context.Id}/libraries")">
                        </MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="Edit Path Replacements">
                        <MudIconButton Icon="@Icons.Material.Filled.Folder"
                                       Link="@($"/media/sources/plex/{context.Id}/paths")">
                        </MudIconButton>
                    </MudTooltip>
                </div>
            </MudTd>
        </RowTemplate>
    </MudTable>
    @if (_mediaSources.Any())
    {
        <MudButton Variant="Variant.Filled"
                   Color="Color.Error"
                   OnClick="@(_ => SignOutOfPlex())"
                   Disabled="@_locker.IsPlexLocked()"
                   Class="mt-4">
            Sign out of plex
        </MudButton>
    }
    else
    {
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   OnClick="@(_ => AddPlexMediaSource())"
                   Disabled="@_locker.IsPlexLocked()"
                   Class="mt-4">
            Sign in to plex
        </MudButton>
    }

    @if (_mediaSources.Any() && !_isAuthorized)
    {
        <MudButton Variant="Variant.Filled"
                   Color="Color.Secondary"
                   OnClick="@(_ => AddPlexMediaSource())"
                   Disabled="@_locker.IsPlexLocked()"
                   Class="ml-4 mt-4">
            Fix Plex Credentials
        </MudButton>
    }

</MudContainer>

@code {
    private List<PlexMediaSourceViewModel> _mediaSources = new();

    private bool _isAuthorized;

    protected override async Task OnParametersSetAsync() => await LoadMediaSources();

    protected override void OnInitialized() =>
        _locker.OnPlexChanged += PlexChanged;

    private async Task LoadMediaSources()
    {
        _isAuthorized = await _plexSecretStore.GetUserAuthTokens().Map(list => Prelude.Optional(list).Flatten().Any());
        _mediaSources = await _mediator.Send(new GetAllPlexMediaSources());
    }

    private async Task SignOutOfPlex()
    {
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small };
        IDialogReference dialog = _dialog.Show<SignOutOfPlexDialog>("Sign out of Plex", options);
        DialogResult result = await dialog.Result;
        if (!result.Cancelled)
        {
            if (_locker.LockPlex())
            {
                await _mediator.Send(new SignOutOfPlex());
                await LoadMediaSources();
            }
        }
    }

    private async Task AddPlexMediaSource()
    {
        if (_locker.LockPlex())
        {
            Either<BaseError, string> maybeUrl = await _mediator.Send(new StartPlexPinFlow());
            await maybeUrl.Match(
                async url => await _jsRuntime.InvokeAsync<object>("open", new object[] { url, "_blank" }),
                error =>
                {
                    _locker.UnlockPlex();
                    _snackbar.Add(error.Value, Severity.Error);
                    _logger.LogError("Unexpected error generating plex auth app url: {Error}", error.Value);
                    return Task.CompletedTask;
                });
        }
    }

    private async void PlexChanged(object sender, EventArgs e)
    {
        await InvokeAsync(LoadMediaSources);
        await InvokeAsync(StateHasChanged);
    }

    private async Task RefreshLibraries(int mediaSourceId) => await _channel.WriteAsync(new SynchronizePlexLibraries(mediaSourceId));

    void IDisposable.Dispose() => _locker.OnPlexChanged -= PlexChanged;

}