@page "/media/trakt/lists"
@using ErsatzTV.Application.Configuration
@using ErsatzTV.Application.MediaCollections
@implements IDisposable
@inject IDialogService Dialog
@inject IMediator Mediator
@inject IEntityLocker Locker
@inject ChannelWriter<IBackgroundServiceRequest> WorkerChannel

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="pt-8">
    <div>
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   Disabled="@Locker.IsTraktLocked()"
                   OnClick="@(_ => AddTraktList())">
            Add Trakt List
        </MudButton>
    </div>
    <MudTable Class="mt-4"
              Hover="true"
              @bind-RowsPerPage="@_traktListsRowsPerPage"
              ServerData="@(new Func<TableState, CancellationToken, Task<TableData<TraktListViewModel>>>(ServerReloadTraktLists))"
              Dense="true"
              @ref="_traktListsTable">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Trakt Lists</MudText>
        </ToolBarContent>
        <ColGroup>
            <col/>
            <col/>
            <col/>
            <col style="width: 180px;"/>
        </ColGroup>
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Match Status</MudTh>
            <MudTh/>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Slug</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Match Status">@context.MatchCount of @context.ItemCount</MudTd>
            <MudTd>
                <div style="align-items: center; display: flex;">
                    <MudTooltip Text="Search Trakt List">
                        <MudIconButton Icon="@Icons.Material.Filled.Search"
                                       Disabled="@Locker.IsTraktLocked()"
                                       Href="@($"search?query=trakt_list%3a{context.TraktId}")">
                        </MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="Match Trakt List Items">
                        <MudIconButton Icon="@Icons.Material.Filled.Refresh"
                                       Disabled="@Locker.IsTraktLocked()"
                                       OnClick="@(_ => MatchListItems(context))">
                        </MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="Delete Trakt List">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                       Disabled="@Locker.IsTraktLocked()"
                                       OnClick="@(_ => DeleteTraktList(context))">
                        </MudIconButton>
                    </MudTooltip>
                </div>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager/>
        </PagerContent>
    </MudTable>
</MudContainer>

@code {
    private readonly CancellationTokenSource _cts = new();

    private MudTable<TraktListViewModel> _traktListsTable;

    private int _traktListsRowsPerPage = 10;

    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
    }

    protected override void OnInitialized() => Locker.OnTraktChanged += LockChanged;

    protected override async Task OnParametersSetAsync() => _traktListsRowsPerPage = await Mediator.Send(new GetConfigElementByKey(ConfigElementKey.TraktListsPageSize), _cts.Token)
        .Map(maybeRows => maybeRows.Match(ce => int.TryParse(ce.Value, out int rows) ? rows : 10, () => 10));

    private void LockChanged(object sender, EventArgs e) =>
        InvokeAsync(async () =>
        {
            StateHasChanged();
            if (_traktListsTable != null && !Locker.IsTraktLocked())
            {
                await _traktListsTable.ReloadServerData();
            }
        });

    private async Task MatchListItems(TraktListViewModel traktList)
    {
        if (Locker.LockTrakt())
        {
            await WorkerChannel.WriteAsync(new MatchTraktListItems(traktList.Id), _cts.Token);
        }
    }

    private async Task DeleteTraktList(TraktListViewModel traktList)
    {
        if (Locker.LockTrakt())
        {
            var parameters = new DialogParameters { { "EntityType", "Trakt List" }, { "EntityName", traktList.Name } };
            var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

            IDialogReference dialog = await Dialog.ShowAsync<DeleteDialog>("Delete Trakt List", parameters, options);
            DialogResult result = await dialog.Result;
            if (!result.Canceled)
            {
                await WorkerChannel.WriteAsync(new DeleteTraktList(traktList.Id), _cts.Token);
            }
            else
            {
                Locker.UnlockTrakt();
            }
        }
    }

    private async Task<TableData<TraktListViewModel>> ServerReloadTraktLists(TableState state, CancellationToken cancellationToken)
    {
        try
        {
            await Mediator.Send(new SaveConfigElementByKey(ConfigElementKey.TraktListsPageSize, state.PageSize.ToString()), _cts.Token);

            PagedTraktListsViewModel data = await Mediator.Send(new GetPagedTraktLists(state.Page, state.PageSize), _cts.Token);
            return new TableData<TraktListViewModel> { TotalItems = data.TotalCount, Items = data.Page };
        }
        catch (Exception)
        {
            return new TableData<TraktListViewModel>
            {
                TotalItems = 0,
                Items = Array.Empty<TraktListViewModel>()
            };
        }
    }

    private async Task AddTraktList()
    {
        if (Locker.LockTrakt())
        {
            var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small };
            IDialogReference dialog = await Dialog.ShowAsync<AddTraktListDialog>("Add Trakt List", options);
            DialogResult result = await dialog.Result;
            if (result is { Canceled: false, Data: string url })
            {
                await WorkerChannel.WriteAsync(new AddTraktList(url), _cts.Token);
            }
            else
            {
                Locker.UnlockTrakt();
            }
        }
    }

}